@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display&display=swap');

body{
    background-color: #222;
    font-family: 'Noto Serif Display', serif;
}

*{
    font-family: 'Noto Serif Display', serif;
    list-style: none;
    text-decoration: none;
    -webkit-user-select: none;      
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    position: absolute;
    width: 360px;
    height: 640px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    background-color: #0e6777;
    
}


.container .logo{
    margin: 35px 20px;
}
.container .logo a{
    color: #f6f6f6;
    font-size: xx-large;
    font-weight: 600;
}
.container .cal{
    margin: -10px 20px;
    text-align: right;
}
.container .cal a{
    color: #f0624d;
    font-size: 19px;
    
}

.header .balance{
    margin: 30px 0px 0px 20px;
}

.header .balance .title{
    color: #f6f6f6;
    font-size: 19px;
    font-weight: 500;
}

.header .balance .value{
    color: #f6f6f6;
    font-size: 28px;
    margin-top: 10px;
    font-family: 'Noto Serif Display', serif;
}

.header .account{
    display: block;
    width: 310px;
    margin: 35px auto 0;
    line-height: 25px;
    text-align: center;
    
}

.header .account .income, .chart, .outcome{
    height: 50px;
    display: inline-block;
    width: 100px;
    vertical-align: middle;
}

.header .account .income .title{
    color: #f6f6f6;
    opacity: 0.5;
}
.header .account .income .income-total{
    color: #f6f6f6;
    font-weight: 500;
}

.header .account .outcome .title{
    color: #f6f6f6;
    opacity: 0.5;
}
.header .account .outcome .outcome-total{
    color: #f0624d;
    font-weight: 500;
}

.dashboard{
    display: block;
    width: 360px;
    height: 480px;
    background-color: #f6f6f6;
    margin-top: 35px;
    border-radius: 30px 30px 0 0;
}

.dashboard .dash-title{
    display: inline-block;
    color: #1a0034;
    font-size: 28px;
    margin-left: 20px;
    margin-top: 30px;
    font-weight: 600;
}

.toggle{
    display: block;
    margin: 30px 0px 0px 20px;
}

.toggle .tab1, .tab2, .tab3{
    display: inline-block;
    cursor: pointer;
    font-size: 18px;
    color: #1a0034;
    font-weight: 600;
    opacity: 0.4;
}

.toggle .tab2, .tab3{
    margin-left: 10px;
}

.active{
    opacity : 1 !important;
}

.hide{
    display: none;
}

.dashboard input{
    -webkit-user-select: auto;      
    -moz-user-select: auto;
    -ms-user-select: auto;
    user-select: auto;
}

.dashboard #all{
    width: 360px;
    height: 339px;
    position: relative;
}
.dashboard #all ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 20px;
    overflow-x: auto;
}

.dashboard #all ul.list li{
    position: relative;
    font-size: 18px;
}

.dashboard #all ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.dashboard #all ul.list li .entry{
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;
    word-wrap: break-word;
    font-weight: 500;
}

.dashboard #all ul.list li #edit{
    visibility: hidden;
}

.dashboard #all ul.list li #delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.dashboard #all ul.list li.expense{
    color: #f0624d;
}

.dashboard #expense{
    width: 360px;
    height: 339px;
    position: relative;
}

.dashboard #expense .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.dashboard #expense .input *{
    display: inline-block;
    vertical-align: middle;
}

.dashboard #expense .input input#expense-title-input{
    height: 30px;
    width : 150px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.dashboard #expense .input input#expense-amount-input{
    height: 30px;
    width : 110px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 5px 5px -5px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.dashboard #expense .input .add-expense img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dashboard #expense ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top:20px;
    overflow-x: auto;
}

.dashboard #expense ul.list li{
    position: relative;
    font-size: 18px;
}

.dashboard #expense ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.dashboard #expense ul.list li .entry{
    width: 250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-weight: 500;
    color: #f0624d;
}

.dashboard #expense ul.list li #edit{
    position: absolute;
    width:20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url("icon/edit.png");
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.dashboard #expense ul.list li #delete{
    position: absolute;
    width:20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('icon/trash.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.dashboard #income{
    width: 360px;
    height: 339px;
    position: relative;
}

.dashboard #income .input{
    position: absolute;
    display: block;
    width: 360px;
    bottom: 0;
    border-top: 1px solid #ccc;
}

.dashboard #income .input *{
    display: inline-block;
    vertical-align: middle;
}

.dashboard #income .input input#income-title-input{
    height: 30px;
    width : 150px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 5px 5px 5px;
    border-radius: 10px 0 0 10px;
    border: none;
}

.dashboard #income .input input#income-amount-input{
    height: 30px;
    width : 110px;
    padding-left: 10px;
    font-size: 18px;
    font-weight: 500;
    margin: 5px 5px 5px -5px;
    border-radius: 0 10px 10px 0;
    border: none;
}

.dashboard #income .input .add-income img{
    width: 40px;
    height: 40px;
    cursor: pointer;
}

.dashboard #income ul{
    width: 360px;
    height: 285px;
    list-style: none;
    margin: 20px 0px 0px 0px;
    padding: 0;
    overflow-x: auto;
}

.dashboard #income ul.list li{
    position: relative;
    font-size: 18px;
}

.dashboard #income ul.list li *{
    display: inline-block;
    height: 30px;
    vertical-align: middle;
}

.dashboard #income ul.list li .entry{
    width:250px;
    height: auto;
    padding-left: 20px;
    margin-bottom: 10px;;
    word-wrap: break-word;
    font-weight: 500;
}

.dashboard #income ul.list li #edit{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 50px;
    cursor: pointer;
    background-image: url('/Assets/edit.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}

.dashboard #income ul.list li #delete{
    position: absolute;
    width: 20px;
    height: 20px;
    right: 20px;
    cursor: pointer;
    background-image: url('/Assets/delete.png');
    background-size: 20px 20px;
    background-repeat: no-repeat;
}
